<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Jungle</h1>
    <a href="/new"><button>New animal</button></a>    
    <a href="/"><button>Home</button></a>    

        <h5>Name: <%= users.name %></h5>
        <p>Species: <%= users.species %> </p>
        <p>Strength: <%= users.strength %></p>
        <p>Weakness: <%= users.weakness %></p>

</body>
</html>